<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Async App!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="LogIn.css">
    <link rel="stylesheet" href="DeviceDetails.css">
    <link rel="icon" href="../favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-light fixed-top">
        <a class="navbar-brand" href="#">
            <img class="DB-logo" src="../favicon.ico" />
            <div class="inline">
                <div class="DB-text">
                    DEVBRIDGE
                    <br/>GROUP
                </div>
            </div>
        </a>
    </nav>
    <div class="container back-container">
        <div class="row"> 
           <p><b> <a class="back" href="index.html">
                    <i class="fas fa-arrow-circle-left"></i> &nbsp;&nbsp; <u>Back to the list</u>
            </a> </b></p>
        </div>
        <hr>
        <div class="container item-container">
        </div>
    </div>
    <script src="DeviceDetails.js"></script>
   
</body>

</html>