body {
    font-family: Arial, Helvetica, sans-serif   
}
* {
    margin: 0;
    padding: 0;
}
.oneDevice {
    width: 280px;
    float:left;
    margin: 2% 5% 0 1%;
}
.device-Component h2 {
    margin:2% 2% 2% 0;
}
.device-Component li{
    margin:1% 1% 1% 0;
    font-size:12px;
    list-style-type: none;
}
.device-Component img {
    width:125px;
    height:125px;
    display:block;
    margin:auto;
}
.checkMark {
    background-color: #3a9b5c;
    border-radius: 15px 50px 30px 5px;
    color: #e7f1ea;
}
.device-Component button{
      margin-top:10%;
      width:49%;
      padding: 12px 24px;
      text-align: center;
      display: inline-block;
      font-size: 12px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      text-decoration: none;
      text-transform: uppercase;
}
.booking {
    background-color: #336DCC;
    color:#FFF;
}
.reserve {
    background-color:#FFF;
    color:black;
    border: 2px solid #E9E9E9; 
}