<!doctype html>

<head>

  <title>Device Component</title>

  <link rel="stylesheet" type="text/css" href="DeviceLayout.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>

<body>
  <section class="Device_Component">
    <img class="tablet" src="https://images-eu.ssl-images-amazon.com/images/I/612rXM6eMSL._SX385_.jpg" alt="Tablet picture">
    <label id="checkmark">Available</label>
    <h2>Apple iPad Pro 10.5", 256GB</h2>
    <p><span class="colorText">Identification number: </span> 0000000497</p>
    <p><span class="colorText">OS:</span> macOS High Sierra(version 10.13)</p>
    <p><span class="colorText">Location:</span><a href="#"> Kaunas</a></p>
    <button class="Reserve" type="button"><span class="glyphicon glyphicon-time"></span>Reserve</button>
    <button id="booking" type="button">Book Device</button>
  </section>
  <script src="DeviceLayout.js"></script>
</body>
</html>